@import '../globals/declarations.scss';

.Home{
    overflow: hidden !important;
    min-height: calc(100vh - 60px);
    // max-height: calc(100vh - 50px);
    // height: calc(100vh - 50px);
    position: relative;
    z-index: 1;
    // background-color: rgba(105, 130, 239, .3);

    .Images{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgba(0,0,0, .33);

        .Images-image{
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }

    .images-count{
        margin: 120px auto;
        font-size: 4rem !important;
        color: $green;
        font-weight: bold;
    }
}