@import './colors.scss';

@import './media.scss';

@import './globals.scss';

$default_transition: 350ms;

$default_transition_popup_boxes: 250ms;

$menu-messages-width: 220px;

$menu-messages-width-min: 220px;